body {
    background-color: #EEEDED;
}

.page-header {
    text-align: center;
    font-family: 'Playfair Display', serif;
    background-color: white;
}

.index-img {
    height: 450px;
    border-radius: 5%;
    margin-bottom: 25px;
}

.body-pics {
    margin-top: 30px;
    background-color: #EEEDED;
    padding-top: 50px;
    object-fit: cover;
}

.index-button {
    background-color: #EEEDED;
    padding-bottom: 25px;
    font-family: 'Playfair Display', serif;
}

.fa-solid {
    font-size: medium;
}

.menu {
    font-family: 'Playfair Display', serif;
    background-color: #EEEDED;
    padding-bottom: 40px;
}

ul {
    list-style-type: none;
}

.menu-img {
    width: 300px;
    border-radius: 5%;
    margin-top: 30px;
}

.menu ul {
    padding: 100px 0;
}

.link {
    text-decoration: none;
  }


