
.page-header {
    text-align: center;
    font-family: 'Playfair Display', serif;
    background-color: white;
}

.index-img {
    height: 450px;
    border-radius: 5%;
    margin-bottom: 25px;
}

.body-pics {
    margin-top: 30px;
    background-color: #EEEDED;
    padding-top: 50px;
    object-fit: cover;
}

.index-button {
    background-color: #EEEDED;
    padding-bottom: 25px;
    font-family: 'Playfair Display', serif;
}

.fa-solid {
    font-size: medium;
}

.menu {
    font-family: 'Playfair Display', serif;
    background-color: #EEEDED;
    padding-bottom: 40px;
}

ul {
    list-style-type: none;
}

.menu-img {
    width: 300px;
    border-radius: 5%;
    margin-top: 30px;
}

.menu ul {
    padding: 100px 0;
}

.link {
    text-decoration: none;
  }

.carousel-style {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

.test-body {
    background-color: #EEEDED;
    padding-top: 25px;
    font-family: 'Playfair Display', serif;
}

.body-text {
    text-align: center;
    font-family: 'Playfair Display', serif;
    background-color: #EEEDED;
    padding-top: 25px;
    padding-bottom: 25px;
}

footer {
    background-color: black;
    color: white;
    text-align: center;
    padding-top: 10px;
    font-family: 'Playfair Display', serif;
    padding-bottom: 15px;
}

.footlink {
    text-decoration: none;
    color: lightgray ;
    font-size: large;
}

.foot-logo {
    height: 60px
}

.facebook {
    font-size: 50px;
}

.icon {
    font-size: xx-large;
}

.contact-body {
    text-align: center;
    background-color: #EEEDED;
    font-family: 'Playfair Display', serif;
    padding-top: 25px;
    padding-bottom: 25px;
}